{% extends "base.html.j2" %}
{% block title %}
Poke
{% endblock %}
{% block content %}
<h1>Poké</h1>
<form action="/poke" method="POST">
  <div class="mb-3">
    <label for="pokemon" class="form-label">Pokemon</label>
    <input type="text" name="pokemon" class="form-control" id="year">
  </div>
  
  <div style="color:red"><small>{{error}}</small></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if poke_stats %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ability</th>
      <th scope="col">Base Experience</th>
      <th scope="col">Front Shiny</th>
      <th scope="col">Attack Base Stat</th>
      <th scope="col">HP Base Stat</th>
      <th scope="col">Defense Base Stat</th>
    </tr>
  </thead>
  {%for stat in poke_stats%}
  <tbody>
    <tr>
      <th scope="row">{{stat['name']}}</th>
      <td>{{stat['name']}}</td>
      <td>{{stat['ability']}}</td>
      <td>{{stat['base_experience']}}</td>
      <td>{{stat['front_shiny']}}</td>
      <td>{{stat['attack_base_stat']}}</td>
      <td>{{stat['hp_base_stat']}}</td>
      <td>{{stat['defense_base_stat']}}</td>
    </tr>
    {%endfor%}
  </tbody>
{%endif%}
</table>

{% endblock %}