<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{pokes.front_shiny}}" class="img-fluid rounded-start" alt="Pokemon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Name: {{pokes.name}}</h5>
        <p class="card-text">Base Exp.: {{pokes.base_experience}}</p>
        <p class="card-text"> Attack Base Stat: {{pokes.attack_base_stat}}</p>
        <p class="card-text">Defense Base Stat: {{pokes.defense_base_stat}}</p>
        <p class="card-text">HP Base Stat: {{pokes.hp}}</p>
        <p class="card-text">Ability: {{pokes.ability}}</p>
        

        
      </div>
    </div>
    
        
      </div>
    </div>
        
      </div>
    </div>
  </div>
</div>