{%extends 'base.html.j2'%}
{%block title%}
Find and Battle
{%endblock%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Find and Battle</h1>
            <p>
                Find and Battle is a game where you can find and battle other players.
            </p>
            <div class="card mb-3" style="max-width: 540px;">
        
  <div class="row g-0">
    
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Email: {{findUsers.email}}</h5>
        <p class="card-text">
            <ul>
                <li>
                    <strong>Pokemon</strong>
                    <br>
                    <strong>1:</strong> {{Pokemen.name}}
                    <br>
                    <strong>2:</strong> {{Pokemen.name}}
                    <br>
                    <strong>3:</strong> {{Pokemen.name}}
                    <br>
        <button class="btn btn-primary">Attack</button>

      </div>
    </div>
        
      </div>
      <div class="row g-0">
    
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Email: {{findUsers.email}}</h5>
        <p class="card-text">
            <ul>
                <li>
                    <strong>Pokemon</strong>
                    <br>
                    <strong>1:</strong> {{Pokemen.name}}
                    <br>
                    <strong>2:</strong> {{Pokemen.name}}
                    <br>
                    <strong>3:</strong> {{Pokemen.name}}
                    <br>
        <button class="btn btn-primary">Attack</button>

      </div>
    </div>
        
      </div>
      <div class="row g-0">
    
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Email: {{findUsers.email}}</h5>
        <p class="card-text">
            <ul>
                <li>
                    <strong>Pokemon</strong>
                    <br>
                    <strong>1:</strong> {{Pokemen.name}}
                    <br>
                    <strong>2:</strong> {{Pokemen.name}}
                    <br>
                    <strong>3:</strong> {{Pokemen.name}}
                    <br>
        <button class="btn btn-primary">Attack</button>

      </div>
    </div>
        
      </div>
    </div>
        
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
{%endblock%}

