{% extends "base.html.j2" %}
{% block title %}
{%endblock%}
{%block content%}
<h1> Welcome to Poké Page </h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius numquam enim dicta voluptate quisquam tempore aut debitis reiciendis ex commodi qui autem odio facere similique, iure alias neque dolor fugiat.</p>

{% endblock %}
