{% extends "base.html.j2" %}
{% block title %}
Poke-Search
{% endblock %}
{% block content %}
  <h1>Poké-Search</h1>
    <p> Search for a pokemon! </p>
    <form action="{{url_for('auth.poke')}}" method="POST">

    {{form.hidden_tag()}}
      <div>

      {{form.pokemon.label(class="form-label")}}
      {{form.pokemon(class="form-control")}}
  
  </div>
  <div>
  {{form.submit(class="btn btn-primary form-control")}}
  </div>
</form>


{% if pokes %}
{%include './includes/_catch.html.j2'%}
{% endif %}


{% endblock %}



    
 